body {
  background-color: lightblue;
}

p {
  width: 100%;
  font-size: 30px;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.info {
  background-color: #33b5e5;
  margin: auto;
  width: 80%;
  height: 400px;
}

.phone {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.email {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dob {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type=submit] {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .phone {width: 25%;}
  .email {width: 25%;}
  .dob {width: 50%;}
}