body {
  background-color: lightblue;
}

h1 {
  font-size: 50px;
  text-align: center;
}

p {
  font-size: 30px;
  text-align: center;
}

.info {
  background-color: #33b5e5;
  width: 80%;
}

.phone {
	width: 100%;
}

.email {
	width: 100%;
}

.dob {
	width: 100%
}

@media only screen and (min-width: 768px) {
  .phone {width: 25%;}
  .email {width: 25%;}
  .dob {width: 50%;}